build/bin
build/appicon.png
build/windows/icon.ico
node_modules
frontend/dist
frontend/wailsjs
frontend/public/bruv-icon.svg
frontend/public/bruv-icon.png
frontend/public/icon.ico

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/extensions/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Claude
.claude/settings.local.json
